<div class="container">

  <!--  <ul class="orders-container">-->
  <!--    <li *ngFor="let order of orders" class="order {{prepareStatusClass(order)}}">-->
  <!--      <div class="order-container">-->
  <!--        <div class="order-info-container">-->
  <!--          <div class="order-name-container">-->
  <!--            <p class="order-name">{{order.name}}</p>-->
  <!--          </div>-->
  <!--          <div class="products">-->
  <!--            <div class="products-names">-->
  <!--              <p class="descriptive-text">Products:</p>-->
  <!--              <p class="product">1 Lg chicken-sandwich</p>-->
  <!--              <p class="product">2 Sm hamburgers onion</p>-->
  <!--              <p class="product">1 Med hamburger pickle lettuce</p>-->
  <!--              <p class="product">3 Lg cokes</p>-->
  <!--              <p class="product">2 Sm large fries</p>-->
  <!--            </div>-->
  <!--          </div>-->

  <!--          <div class="special-instructions">-->
  <!--            <div class="descriptive-text-container">-->
  <!--              <span class="descriptive-text">Special instructions:</span>-->
  <!--            </div>-->
  <!--            <div class="special-instructions-desc">-->
  <!--              <p>NO</p>-->
  <!--            </div>-->
  <!--          </div>-->

  <!--          <div class="allergy-information">-->
  <!--            <div class="descriptive-text-container">-->
  <!--              <span class="descriptive-text">Allergy information:</span>-->
  <!--            </div>-->
  <!--            <div class="allergy-information-desc">-->
  <!--              <p>NO</p>-->
  <!--            </div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--        <div class="status-info">-->
  <!--          <button class="status {{prepareStatusClass(order, '-btn')}}">{{order.status}}</button>-->
  <!--        </div>-->
  <!--        <div class="timer-container {{prepareStatusClass(order, '-timer')}}">-->
  <!--          <div class="timer-current-value-container">-->
  <!--            <div class="timer-current-value">-->
  <!--              <span>07:25</span>-->
  <!--            </div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </li>-->
  <!--  </ul>-->
  <!--</div>-->
  <!--<div class="avg-waiting-time-container">-->
  <!--  <div class="avg-time-current-value">-->
  <!--    <span>07:25</span>-->
  <!--  </div>-->

  <div class="orders-container">

    <owl-carousel-o [options]="owlOptions">
      <ng-container *ngFor="let order of orders;let ind = index">
        <ng-template carouselSlide>
          <div class="order {{prepareStatusClass(order)}}">
            <div class="order-container">
              <div class="order-info-container">
                <div class="order-name-container">
                  <p class="order-name">Order #{{ind + 1}}</p>
                </div>
                <div class="products">
                  <div class="products-names">
                    <p class="descriptive-text">Products:</p>

                    <table>
                      <ng-container *ngFor="let product of order.orderedProducts">
                        <tr *ngIf="product.sizes[0].qty">
                          <td>
                            <span class="qty">{{product.sizes[0].qty}}</span>
                          </td>
                          <td>
                            <span class="size">{{product.sizes[0].title.substring(0, 2)}}</span>
                          </td>
                          <td>
                            <span class="product-title">{{product.title}}</span>
                          </td>
                        </tr>
                        <tr *ngIf="product.sizes[1].qty">
                          <td>
                            <span class="qty">{{product.sizes[1].qty}}</span>
                          </td>
                          <td>
                            <span class="size">{{product.sizes[1].title.substring(0, 2)}}</span>
                          </td>
                          <td>
                            <span class="product-title">{{product.title}}</span>
                          </td>
                        </tr>
                      </ng-container>
                    </table>

                    <!--                    <ng-container *ngFor="let product of order.orderedProducts">-->
                    <!--                      <div class="small">-->
                    <!--                        <span class="qty">{{product.sizes[0].qty}}</span>-->
                    <!--                        <span class="size">{{product.sizes[0].title.substring(0, 2)}}</span>-->
                    <!--                        <span class="product-title">{{product.title}}</span>-->
                    <!--                      </div>-->
                    <!--                      <div class="large">-->
                    <!--                        <span class="qty">{{product.sizes[1].qty}}</span>-->
                    <!--                        <span class="size">{{product.sizes[1].title.substring(0, 2)}}</span>-->
                    <!--                        <span class="product-title">{{product.title}}</span>-->
                    <!--                      </div>-->
                    <!--                      <p class="product">-->

                    <!--                      </p>-->
                    <!--                      &lt;!&ndash;                                        <p class="product">1 Lg chicken-sandwich</p>&ndash;&gt;-->
                    <!--                      &lt;!&ndash;                                        <p class="product">2 Sm hamburgers onion</p>&ndash;&gt;-->
                    <!--                      &lt;!&ndash;                                        <p class="product">1 Med hamburger pickle lettuce</p>&ndash;&gt;-->
                    <!--                      &lt;!&ndash;                                        <p class="product">3 Lg cokes</p>&ndash;&gt;-->
                    <!--                      &lt;!&ndash;                                        <p class="product">2 Sm large fries</p>&ndash;&gt;-->
                    <!--                    </ng-container>-->
                  </div>
                </div>

                <div class="special-instructions">
                  <div class="descriptive-text-container">
                    <span class="descriptive-text">Special instructions:</span>
                  </div>
                  <div class="special-instructions-desc">
                    <p>{{order.special_instructions.length === 0 ? 'NO' : 'YES' }}</p>
                  </div>
                </div>

                <div class="allergy-information">
                  <div class="descriptive-text-container">
                    <span class="descriptive-text">Allergy information:</span>
                  </div>
                  <div class="allergy-information-desc">
                    <p>{{!order.allergy_info ? 'NO' : 'YES' }}</p>
                  </div>
                </div>
              </div>
              <div class="status-info">
                <button class="status {{prepareStatusClass(order, '-btn')}}">{{order.status}}</button>
              </div>
              <div class="timer-container {{prepareStatusClass(order, '-timer')}}">
                <div class="timer-current-value-container">
                  <div class="timer-current-value">
                    <span>07:25</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>

  </div>
</div>
